.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #7C2B8A;
  height: 50px;
  padding: 30px;
}

.App-title {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin: 50px 0;
}

.App-main {
  background-color: #E83796;
}

.App-footer {
  background-color: #7C2B8A;
  font-size: 9pt;
  height: 50px;
  padding-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

/* Sticky Footer */
:root {
  — space: 1.5em 0;
  — space: 2em 0;
}

.App {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

.App-content {
 flex: 1 0 auto;
 padding: var( — space) var( — space) 0;
 width: 100%;
}

.App-content:after {
 content: "";
 display: block;
 margin-top: var( — space);
 height: 0;
 visibility: hidden;
}